.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 33%;
    text-align: center;
    width: 100%; 
    font-size: 400%;
  }
  
  .header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
  }