.header-forms {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px groove #000;
    border-radius: 10px;
    width: auto;
    max-width: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    padding: 20px;
    flex: 1;
    flex-grow: 1;
}

.form-group label {
    text-align: left;
}


.nameWork {
    width: 800px;
    padding: 10px;
    border: none;
}

.company {
    width: 800px;
    padding: 10px;
    border: none;
}

.responsable {
    width: 800px;
    padding: 10px;
    border: none;
}