<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Rotas do Projeto</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        ul {
            list-style-type: square;
            padding: 0;
        }
        li {
            padding: 10px;
            background-color: #f9f9f9;
            border-bottom: 1px solid #ddd;
        }
        li:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <h1>Rotas do Projeto</h1>
    <ul>
        {% for route in routes %}
            {%include 'route_item.html' with route=route%}
        {% endfor %}
    </ul>
</body>
</html>