.bg-custom {
  background-image: url('Frontend/src/assets/campo.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1500px; 
  margin-top: 0; 
  color:white; 
  border-radius: 0.25rem; 
  position: relative;
}



